<h2 mat-dialog-title class="dialog-box">Nova tarefa</h2>

<div mat-dialog-content class="dialog-box">
    <mat-form-field>
        <mat-label>Nome da tarefa</mat-label>
        <input matInput [(ngModel)]="name" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descrição da tarefa</mat-label>
        <input matInput [(ngModel)]="description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput [(ngModel)]="category">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Estágio inicial</mat-label>
        <mat-select [(ngModel)]="selectedValue" required>
          <mat-option *ngFor="let status of statusSelect" [value]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-button-box">
    <button color="warn" mat-raised-button (click)="cancel()">Cancelar</button>
    <button color="primary" mat-raised-button (click)="createTask()">Salvar</button>
</div>