<h2 mat-dialog-title class="dialog-box">Nova tarefa</h2>

<div mat-dialog-content class="dialog-box">
    <mat-form-field>
        <mat-label class="label">Nome da tarefa</mat-label>
        <input matInput [(ngModel)]="name" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label class="label">Descrição da tarefa</mat-label>
        <input matInput [(ngModel)]="description">
    </mat-form-field>
    <mat-form-field>
        <mat-label class="label">Categoria</mat-label>
        <input matInput [(ngModel)]="category">
    </mat-form-field>
    <mat-form-field>
        <mat-label class="label">Estágio inicial</mat-label>
        <mat-select [(ngModel)]="selectedValue" required>
          <mat-option *ngFor="let status of statusSelect" [value]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="customization">
        <mat-form-field>
            <mat-label class="label">Cor de fundo</mat-label>
            <input matInput type="color" initialValue="#ffffff" [(ngModel)]="background">
        </mat-form-field>
        <mat-form-field>
            <mat-label class="label">Cor da fonte</mat-label>
            <input matInput type="color" [(ngModel)]="fontColor">
        </mat-form-field>
        <mat-form-field>
            <mat-label class="label">Cor da categoria</mat-label>
            <input matInput type="color" [(ngModel)]="tagColor">
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions class="dialog-button-box">
    <button color="warn" mat-raised-button (click)="cancel()">Cancelar</button>
    <button color="primary" mat-raised-button (click)="createTask()">Salvar</button>
</div>