.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 114px);
}

.row {
  display: flex;
}

.kanban {
  margin: 10px;
}

.title-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  margin: 0px;
}

.icon {
  margin-right: 10px;
}
