
<div class="row">
    <div class="horizontal-boundary">
        <div cdkDropListGroup class="container horizontal-box" cdkDragBoundary=".horizontal-boundary" cdkDragLockAxis="x" cdkDrag>
            <div class="content">
                <h3 class="kanban-title kanban-backlog-title">BACKLOG</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="backlog"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'backlog')">
                    <div class="box" *ngFor="let item of backlog" [ngStyle]="{'background-color': item.background, 'color': item.fontColor}" cdkDrag>
                        <div>
                            {{ item.name }}
                            <p class="task-decription" *ngIf="item.description" [style.color]="item.fontColor"> {{ item.description | slice:0:90 }}{{ item.description.length > 90 ? '...' : ''}} </p>
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag" (mouseover)="revealRemove(item)" (mouseleave)="hideRemove()" [removable]="removable" (removed)="tagRemove(item)">
                                    <span class="task-tag-span" *ngIf="item.category" [ngStyle]="{'background-color': item.tagColor, 'color': item.fontColor}">
                                        {{ item.category }}
                                        <mat-icon class="task-tag-remove" matChipRemove *ngIf="removable && item === mouseSelected">clear</mat-icon>
                                    </span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon class="task-icon">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon class="task-icon">remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <h3 class="kanban-title kanban-todo-title">TO DO</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="todo"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'todo')">
                    <div class="box" *ngFor="let item of todo" [ngStyle]="{'background-color': item.background, 'color': item.fontColor}" cdkDrag>
                        <div>
                            {{ item.name }}
                            <p class="task-decription" *ngIf="item.description" [style.color]="item.fontColor"> {{ item.description | slice:0:90 }}{{ item.description.length > 90 ? '...' : ''}} </p>
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag" (mouseover)="revealRemove(item)" (mouseleave)="hideRemove()" [removable]="removable" (removed)="tagRemove(item)">
                                    <span class="task-tag-span" *ngIf="item.category" [ngStyle]="{'background-color': item.tagColor, 'color': item.fontColor}">
                                        {{ item.category }}
                                        <mat-icon class="task-tag-remove" matChipRemove *ngIf="removable && item === mouseSelected">clear</mat-icon>
                                    </span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon class="task-icon">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon class="task-icon">remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <h3 class="kanban-title kanban-inProgress-title">IN PROGRESS</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="inProgress"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'inProgress')">
                    <div class="box" *ngFor="let item of inProgress" [ngStyle]="{'background-color': item.background, 'color': item.fontColor}" cdkDrag>
                        <div>
                            {{ item.name }}
                            <p class="task-decription" *ngIf="item.description" [style.color]="item.fontColor"> {{ item.description | slice:0:90 }}{{ item.description.length > 90 ? '...' : ''}} </p>
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag" (mouseover)="revealRemove(item)" (mouseleave)="hideRemove()" [removable]="removable" (removed)="tagRemove(item)">
                                    <span class="task-tag-span" *ngIf="item.category" [ngStyle]="{'background-color': item.tagColor, 'color': item.fontColor}">
                                        {{ item.category }}
                                        <mat-icon class="task-tag-remove" matChipRemove *ngIf="removable && item === mouseSelected">clear</mat-icon>
                                    </span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon class="task-icon">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon class="task-icon">remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <h3 class="kanban-title kanban-review-title">REVIEW</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="review"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'review')">
                    <div class="box" *ngFor="let item of review" [ngStyle]="{'background-color': item.background, 'color': item.fontColor}" cdkDrag>
                        <div>
                            {{ item.name }}
                            <p class="task-decription" *ngIf="item.description" [style.color]="item.fontColor"> {{ item.description | slice:0:90 }}{{ item.description.length > 90 ? '...' : ''}} </p>
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag" (mouseover)="revealRemove(item)" (mouseleave)="hideRemove()" [removable]="removable" (removed)="tagRemove(item)">
                                    <span class="task-tag-span" *ngIf="item.category" [ngStyle]="{'background-color': item.tagColor, 'color': item.fontColor}">
                                        {{ item.category }}
                                        <mat-icon class="task-tag-remove" matChipRemove *ngIf="removable && item === mouseSelected">clear</mat-icon>
                                    </span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon class="task-icon">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon class="task-icon">remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <h3 class="kanban-title kanban-done-title">DONE</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="done"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'done')">
                    <div class="box" *ngFor="let item of done" [ngStyle]="{'background-color': item.background, 'color': item.fontColor}" cdkDrag>
                        <div>
                            {{ item.name }}
                            <p class="task-decription" *ngIf="item.description" [style.color]="item.fontColor"> {{ item.description | slice:0:90 }}{{ item.description.length > 90 ? '...' : ''}} </p>
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag" (mouseover)="revealRemove(item)" (mouseleave)="hideRemove()" [removable]="removable" (removed)="tagRemove(item)">
                                    <span class="task-tag-span" *ngIf="item.category" [ngStyle]="{'background-color': item.tagColor, 'color': item.fontColor}">
                                        {{ item.category }}
                                        <mat-icon class="task-tag-remove" matChipRemove *ngIf="removable && item === mouseSelected">clear</mat-icon>
                                    </span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon class="task-icon">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon class="task-icon">remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button mat-fab color="primary" class="fab-button" (click)="confirmCreation()">
    <mat-icon>add</mat-icon>
</button>