.row {
  display: flex;
  height: calc(100vh - 124px);
}

.kanban {
  margin: 10px;
}

.title-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  margin: 0px;
}

.icon {
  margin-right: 10px;
}

.fab-button {
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.edit-card {
  background-color: rgb(95, 95, 95);
}

.task-tag {
  font-size: 10px;
  padding: 0px 7px;
  background-color: transparent;
}

.task-tag-span {
  background-color: #607d8b;
  padding: 0px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Kanban
.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 400px;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.kanban-title {
  padding: 10px 10px;
  margin: 10px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #424242;
  color: white;
  font-size: 16px;
}

.kanban-backlog-title {
  border-top: solid 2px #FFB6C1;
}

.kanban-todo-title {
  border-top: solid 2px #F08080;
}

.kanban-inProgress-title {
  border-top: solid 2px #CD5C5C;
}

.kanban-review-title {
  border-top: solid 2px #DC143C;
}

.kanban-done-title {
  border-top: solid 2px #C71585;
}

.list {
  min-height: 30px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.box {
  padding: 10px 10px;
  margin: 10px 0px;
  border-bottom: solid 1px #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #424242;
  color: white;
  font-size: 16px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.2;
  border: dashed 1px #fff;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Scroll

.horizontal-box {
  cursor: grab;
  height: 100%;
}

.horizontal-box:active {
  cursor: grabbing;
}
