
<div class="row">
    <div class="horizontal-box" cdkDragLockAxis="x" cdkDrag>
        <div cdkDropListGroup class="container">
            <div class="content">
                <h3 class="kanban-title kanban-backlog-title">BACKLOG</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="backlog"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'backlog')">
                    <div class="box" *ngFor="let item of backlog" cdkDrag>
                        <div>
                            {{ item.name }}
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag">
                                    <span class="task-tag-span">{{ item.category }}</span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <h3 class="kanban-title kanban-todo-title">TO DO</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="todo"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'todo')">
                    <div class="box" *ngFor="let item of todo" cdkDrag>
                        <div>
                            {{ item.name }}
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag">
                                    <span class="task-tag-span">{{ item.category }}</span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <h3 class="kanban-title kanban-inProgress-title">IN PROGRESS</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="inProgress"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'inProgress')">
                    <div class="box" *ngFor="let item of inProgress" cdkDrag>
                        <div>
                            {{ item.name }}
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag">
                                    <span class="task-tag-span">{{ item.category }}</span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <h3 class="kanban-title kanban-review-title">REVIEW</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="review"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'review')">
                    <div class="box" *ngFor="let item of review" cdkDrag>
                        <div>
                            {{ item.name }}
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag">
                                    <span class="task-tag-span">{{ item.category }}</span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <h3 class="kanban-title kanban-done-title">DONE</h3>
                <div
                    cdkDropList
                    [cdkDropListData]="done"
                    class="list"
                    (cdkDropListDropped)="drop($event, 'done')">
                    <div class="box" *ngFor="let item of done" cdkDrag>
                        <div>
                            {{ item.name }}
                            <mat-chip-list>
                                <mat-chip color="accent" class="task-tag">
                                    <span class="task-tag-span">{{ item.category }}</span>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <div class="box-buttons">
                            <button mat-icon-button color="accent" (click)="confirmUpdate(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="confirmDeletion(item)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button mat-fab color="primary" class="fab-button" (click)="confirmCreation()">
    <mat-icon>add</mat-icon>
</button>